/* start navigation */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}

.navigation {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}



.navigation a{
  text-decoration: none;
  line-height: 75px;
  color: white;
  box-sizing: border-box;
}

.navigation a:visited{
  text-decoration: none;
  color: #8614f8;
}

.navigation .kiri{
  display: flex;
  width: 30%;
  justify-content: space-around;
  box-sizing: border-box;
}

.navigation .kanan{
  display: flex;
  width: 20%;
  justify-content: space-around;
  box-sizing: border-box;
}


/* end navigation */

.products{
    margin-top: 20px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.products a {
    text-decoration: none;
    margin: 20px;
}
.product img{
    width: 200px;
}

.container{
    width:100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.details{
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.atas{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.atas img{
    margin-right: 50px;
    box-sizing: border-box;
    height: 200px;
}

.bawah{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bawah button{
    margin: 20px 40px;
}

.container1{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#form table {
    border: 1px solid black;
    
}

#submit_order{
    padding: 10px 30px;
}

#form table td{
    padding: 20px;
}

*{
    box-sizing: border-box;
}

button {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 26px;
  font-weight: 500;
  height: 70px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 200px;
  box-sizing: border-box;
}

button:hover {
  opacity: 7;
}