*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#why{
    margin-top: 15px;
    margin-bottom: 15px;
}

.styleTable{
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styleTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styleTable th,
.styleTable td {
    padding: 12px 15px;
}

.styleTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styleTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styleTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styleTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #009879;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover {background-color: #009879}
  
.button:active {
    background-color: #009879;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* start navigation */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.container{
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}

.navigation {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: #1C1C1C;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.logo{
  outline: 3px solid #8614f8;
  outline-offset: 2px;
  height: 3.6rem;
  font-size: 1.5rem;
  line-height: 3.7rem;
  text-decoration: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}



.navigation a{
  font-family: "Montserrat",sans-serif;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.navigation a:visited{
  text-decoration: none;
  color: #fff;
}

.navigation a:hover{
  color: #8614f8;
  transition: 0.5s;
}


.navigation .kiri{
  display: flex;
  width: 30%;
  justify-content: space-around;
  box-sizing: border-box;
}

.navigation .kanan{
  display: flex;
  width: 20%;
  justify-content: space-around;
  box-sizing: border-box;
}


/* end n  avigation */